/* @import "tailwindcss"; */

/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.titleSection {
  font-size: 34px;
  font-weight: 500;

 @media (max-width: 768px) {
    font-size: 24px;
}
}
